{% extends "base.html" %}
{% block content %}

    <div class="content-section">
        <form action="" method="POST">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            <small>Invalid Email</small>
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label mt-2") }}
                    {% if form.password.label.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            <small>Invalid Password</small>
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                    
                </div>
                <div class="form-check mt-3">
                    {{ form.remember_me.label(class="form-check-label") }}
                    {{ form.remember_me(class="form-check-input") }}
                </div>
                <div class="form-group mt-3">
                    {{ form.submit(class="btn btn-outline-info") }}
                    <small class="text-muted m-lg-2">
                        <a href="#">Forgot Password?</a>
                    </small>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock content %}
